.container1 div, .container2 div{
  border: 1px solid black;
  padding: 10px;
}

.container1 {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
}

.box{
  max-width: 200px;
}

.one{
  background-color: aqua;
  flex-basis: 300px;
}
.two{
  background-color: white;
}
.three{
  background-color: orange;
}

/* .four{
  background-color: red;
}
.five{
  background-color: green;
}
.six{
  background-color: fuchsia;
} 

.container2{
  display: flex;
}

.seven{
  flex-grow: 1;
}
.eight{
  flex-grow: 1;
  background-color: blue;
}
.nine{
  flex-grow: 1;
}  */
