.container1 div, .container2 div {
  border: 1px solid #ccc;
  padding: 10px;
}

.container1{
  display: flex;
  background-color: #ccc;
  flex-wrap: wrap;
}
/* .box{
  max-width: 100px;
} */

.one{
  flex-grow: 1;
  background-color: aqua;
}
.two{
  flex-grow: 4;
  background-color: white;
}
.three{
  flex-grow: 1;
  background-color: orange;
}

/* .container2{
  display: flex;
}

.seven{
  flex-grow: 1;
}
.eight{
  flex-grow: 1;
  background-color: blue;
}
.nine{
  flex-grow: 1;
} */
